<h1>Created by <%= link_to @comment.author.name, member_path(@comment.author) %> and attached to the <%= @comment.commentable.class.to_s.downcase %>: <%= link_to (@comment.commentable.try(:title) || @comment.commentable.try(:name)), @comment.commentable %></h1>

<strong><%= t("comments.status.#{@comment.status}") %></strong> <%= render 'comments/status_buttons', comment: @comment %>

<%= simple_form_for @comment do |f| %>
	<%= f.error_notification %>

	  <%= f.input :body, :input_html => { rows: 3, cols: 55 } %>

    <%= f.button :submit, :class => 'btn btn-primary' %>

<% end %>
