<h1><%= t('activerecord.models.comments') %></h1>

<%= render 'tab_admin_menu' %>

<p><%= t('comments.sorted_by_oldest') %></p>

<table class='table table-striped'>
	<tbody>
		<% @comments.each do |comment| %>
		  <%= render 'comments/admin_individual_comment', comment: comment %>
		<% end %>
	</tbody>
</table>

<%= will_paginate @comments %>

<%= render 'shared/admin_sidebar' %>
