<h1>Listing Pages</h1>

<table class='table table-striped'>
	<thead>
  <tr>
	    <th><%= t 'activerecord.attributes.pages.title' %></th>
	    <th><%= t 'activerecord.attributes.pages.description' %></th>
			<th><%= t 'activerecord.attributes.pages.for_blog' %>?</th>
	    <th>Actions</th>
	  </tr>
	</thead>
	
	<tbody>
		<% @pages.each do |page| %>
		  <tr>
		    <td><%= link_to page.title, page_path(page) %></td>
		    <td><%= truncate page.description, length: 55, separator: ' ...' %></td>
				<td><%= page.for_blog? ? '✓' : 'X' %></td>
		    <td><%= link_to t('edit'), page, class: 'btn btn-mini' %>
					<%= link_to t('delete'), page, method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-mini btn-danger' %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<%= link_to t('pages.create_new').capitalize, new_page_path, class: 'btn btn-primary' %>

<%= render 'shared/admin_sidebar' %>
