<h1><%= t 'activerecord.models.contacts' %></h1>

<%= render 'tab_admin_menu' %>

<table class='table table-striped'>
	<thead>
  <tr>
	    <th><%= t 'activerecord.attributes.contacts.sender_name' %></th>
	    <th><%= t 'activerecord.attributes.contacts.sender_email' %></th>
			<th><%= t 'activerecord.attributes.contacts.body' %></th>
			<th><%= t 'contacts.sent' %></th>
	    <th><%= t('actions') %></th>
	  </tr>
	</thead>
	
	<tbody>
		<% @contacts.each do |contact| %>
		  <tr>
		    <td><%= contact.sender_name %></td>
				<td><%= link_to contact.sender_email, "mailto:#{contact.sender_email}" %></td>
		    <td><%= truncate contact.body, length: 85, separator: ' ...' %></td>
				<td><%= l contact.created_at, :format => :tkh_default %></td>
		    <td><%= link_to t('view'), contact %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @contacts %>

<%= render 'shared/admin_sidebar' %>
