<h1><%= t('activerecord.models.contacts') %></h1>

<%= render 'tab_admin_menu' %>

<h2><%= "#{t('contacts.sent')}#{t('colon')} #{ l(@contact.created_at, :format => :tkh_default) }" %></h2>

<p>
	<%= "#{t('activerecord.attributes.contacts.sender_name').capitalize}#{t('colon')} #{@contact.sender_name}" %><br />
	<%= "#{t('activerecord.attributes.contacts.sender_email')}#{t('colon')} #{link_to(@contact.sender_email, "mailto:#{@contact.sender_email}")}".capitalize.html_safe %>
</p>
<h3><%= t('activerecord.attributes.contacts.body').capitalize %></h3>
<p><%= sanitize @contact.body.gsub(/\r\n?/, "<br>"), :tags => %w(br), :attributes => %w() %></p>

<hr>

<p><%= link_to t('list'), contacts_path, class: 'btn' %></p>

<%= render 'shared/admin_sidebar' %>
