<%= simple_form_for @sidebar_snippet do |f| %>
  <%= f.error_notification %>

<h2>Main Section Sidebar</h2>
    <%= f.input :main_sidebar, :input_html => { rows: 15, :class => 'ckeditor' } %>

<h2>Blog Sidebar</h2>
    <%= f.input :blog_sidebar, :input_html => { rows: 15, :class => 'ckeditor' } %>

    <%= f.button :submit, :class => 'btn btn-primary' %>
<% end %>
