<% content_for :meta_title, Setting.first.try(:company_name) %>
<% content_for :meta_description, "Blog posts with the '#{@tag.name}' tag." %>
<% content_for :canonical_link, link_to('', blog_path, rel: 'canonical') %>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= "#{@tag.name} (#{@tag.taggings.count})" %></h3>
  </div>
  <div class="panel-body">
    Liste des articles avec cette étiquette
  </div>
</div>

<% for post in @posts %>
  <%= render '/pages/individual_blog_post_in_list', post: post %>
<% end %>

<%= will_paginate @posts %>

<%= render 'all_tags_list' %>
<%= render( 'admin_context_menu', page: @page) %>
<%# partial in tkh_menus gem or has to be added in host app %>
<%= render './shared/menus' %>
