<% content_for :search_metas do %>
  <!-- General meta info + SEO -->
  <title><%= Setting.first.try(:blog_name) %></title>
  <meta name="description" content="<%= Setting.first.try(:blog_tagline) %>" />
  <% content_for :canonical_link, link_to('', blog_path, rel: 'canonical') %>
<% end %>

<%= will_paginate @posts, inner_window: 2 %>

<% for post in @posts %>
	<%= render '/pages/individual_blog_post_in_list', post: post %>
  <hr>
<% end %>

<%= will_paginate @posts, inner_window: 2 %>

<%= render 'all_tags_list' %>
<%= render( 'admin_context_menu', page: @page) %>
<%# partial in tkh_menus gem or has to be added in host app %>
<%= render './shared/menus' %>
