<% content_for :meta_title, 'Blog' %>

<% unless @posts.blank? %>
  <% for post in @posts %>
		<div class="individual-post">
	    <h1><%= link_to post.title, post %></h1>
			<p>by <%= post.author.name %> on <%= l post.published_at, format: :default %> | <%= link_to 'Permalink.', post %></p>
			<%= raw post.body %>
		</div>
  <% end %>
<% end %>

<%= will_paginate @posts %>